<!DOCTYPE html>
<html ng-app="profilemain">
<head>
	<title>iProfile</title>
	<base href="/">
	<link href="/stylesheets/style.css" rel="stylesheet"/>
</head>
<body>
<div ui-view></div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/@uirouter/angularjs@1.0.5/release/angular-ui-router.min.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/controller.js"></script>
<!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
<script src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="https://use.fontawesome.com/d01f61d96e.js"></script>

</body>
</html>