<div class="main-content">
<h1 class="main-masthead">iProfile</h1>
<p class="main-caption">Easy Public Profile Creation</p>
<form class="login-form" ng-submit="login()">
	<input type="email" name="email" placeholder="EMAIL" ng-model="email">
	<input type="password" name="password" placeholder="PASSWORD" ng-model="pass">
	<br>
	<input id="submit-btn" type="submit" value="LOGIN">
</form>

<a href="/auth/facebook/" class="btn btn-primary fb-btn" target="_self"><span class="fa fa-facebook"></span>  LOGIN WITH FACEBOOK</a>

<p>Not a Member?<b ui-sref="register" class="register-btn">Register</b></p>
</div>